.front-phetsarath {
  font-family: "Phetsarath OT"; 
}
.front-color { 
  color: white;
}
.text-center { 
  text-align: center;
}
.make-center {
    width: 300px;
    /* margin: 0;  
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
}
.card-dark {
  background-color: #212120;
}
