extends admin

block content
  H3 Menage user
  <table class="table">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>ROLE</th>
      <th>CREATE DATE</th>
      <th>STATUS</th>
      <th>ACTION</th>
    </tr>
    <tbody id="users-table">
    </tbody>
  </table>
  script(src='/javascripts/users.js')
